@{
    ViewData["Title"] = "Home Page"; 
}
@model CenterViewModel

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model.ListofNodesAvailable)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IPAddress)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Geolocation)</td>
                </tr>
            }
 
        </tbody>
    </table>
